@import "tailwindcss";

@theme {
  --font-serif: "Merriweather", ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
}

html {
  font-size: 18px;
  font-family: var(--font-serif);
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h1 {
  @apply text-3xl;
}

thead {
  @apply text-xl;
}

th:not(:last-child),
td:not(:last-child) {
  @apply pr-1 sm:pr-5;
}

tbody {
  td,
  th {
    @apply pt-3;
  }
}

th {
  @apply font-semibold;
}
